{   "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "no-console": "off",
        "react/jsx-filename-extension": "off"
    }
}